
.header{
background-color:#00b4d8;
}

.menu_image {
  width: 50px;  
  height: auto;

}

.menu:hover {
    background-color: #75c3d2;
}

.main, .contact_text, .contact_forms{

        background-color:#b9eff9;
    }

    .texto{
        text-align: justify;
        padding: 20px;
    }

    h1{

        font-family: 'Sacramento',sans-serif;
        color: #03045e;
        font-size:50px;
    }

    h2{
        color:#0077b6;
        font-size:25px;
    }

    p, ul{

        color: #03045e;
       

    }

    .ul_contact{

        list-style-type: none;
        margin-left: 0;
    }

    .rectangle{
        background: linear-gradient(white,#b9eff9);
        border-radius: 10px;
        padding: 10px;
        width: 70%;
        box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
        margin-top: 10px;
        margin-bottom: 20px;
        display: flex;
    
    }

 .footer{
        
        background-color: #00b4d8;
        color: gray;
    }

    .contact, .forms{
        align-items: center;
        padding: 20px;
        width: 50%;
    }

    .government1, .government2, .ORG1, .ORG2{
        width: 45%;
        height: 150px;
        border-radius: 10px;
        display: inline-block;
        margin-right: 5px;
        background-color: #0077b6;
    }
    

